.real-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-2 {
  height: 285px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.container-3 {
  width: 1109px;
  height: 2950px;
  /* border-style: solid; */
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.container-white {
  height: 285px;
  width: 1109px;
  /* border-style: solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.china {
  width: 690px;
  height: 2849px;
  /* border-style: solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.unuudur {
  width: 735px;
  height: 61px;
  /* border-style: solid; */
}
.plan {
  margin-bottom: 40px;
}
.second {
  margin-bottom: 30px;
}
.container-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 850px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(251, 251, 251, 255);
}
.first {
  width: 1109px;
  height: 88.91px;
  /* border-style: solid;
  border-color: black; */
  display: flex;
}
.right {
  width: 261.36px;
  height: 50px;
  /* border-style: solid;
    border-color: black; */
  display: flex;
  justify-content: flex-end;
}
.left {
  width: 742.59px;
  height: 38.91;
  /* border-style: solid; */

  display: flex;
  justify-content: space-between;
}
.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news {
  height: 50px;
  font-size: 12px;
  width: 87.12px;
}
.main {
  display: flex;
}

.main {
  height: 35px;
  width: 83px;
  /* border-style: solid; */
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
.english {
  font-weight: bold;
}
.second {
  height: 385px;
  width: 1109px;
  /* border-style: solid;
  border-radius: 15px; */
}
.law {
  width: 542.5px;
  height: 385px;
  /* border-style: solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  border-radius: 10px;
  background-image: linear-gradient(to right, lightgrey, 0.1%, white);
}
.uls-tur {
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  color: white;
  padding: 8px 15px;
  font-size: 12px;
  border-radius: 10px;
  width: fit-content;
  font-weight: bolder;
  transition: 1s;
}

.uls-tur:hover {
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.elect {
  font-size: 26px;
  font-weight: bold;
}
.dim {
  font-size: 13px;
  color: rgb(0, 0, 0, 0.5);
}
.bizzare {
  width: 502.5px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-style: solid; */
  border-color: red;
}
.hard {
  width: 542.5px;
  height: 385px;
  /* border-style: solid; */
  border-color: red;
}
.second {
  display: flex;
  justify-content: space-between;
}
.hard {
  position: relative;
  width: 542px;
  height: 385px;
  border-radius: 10px;
  /* border: solid 1px red; */
  overflow: hidden;
}
.hard:hover > .img {
  transform: scale(1.15);
  cursor: pointer;
}
.img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.img:hover ~ .text {
  width: 100%;
  height: 100%;
  /* border-style: solid;
  border-color: red; */
  position: absolute;
  z-index: 1;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: flex;
}

.police {
  height: 270px;
  width: 263.75px;
  /* border: solid; */
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.zuzu {
  height: 270px;
  width: 263px;
  /* border-style: solid; */
}
.third {
  display: flex;
  width: 1109px;
  justify-content: space-between;
}
.policee {
  height: 261px;
  width: 263.75px;
  /* border: solid; */
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.zai {
  display: flex;
  gap: 20px;
}
.curb {
  width: 263.75px;
  height: 175px;
  /* border-style: solid; */
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.curb:hover > .img {
  transform: scale(1.1);
  cursor: pointer;
}
.story {
  width: 170.8px;
  height: 235px;
  /* border-style: solid; */
}
.story-container {
  display: flex;
  justify-content: space-between;
}
.back {
  color: #fff;
  padding: 2px 5px;
  background-color: #00b0f4;
  width: fit-content;
  border-radius: 3px;
  color: #fff;
  padding: 2px 3px;
  border-radius: 3px;
  font-size: 18px;
  height: fit-content;
}
.tom {
  font-size: 26px;
}
.blue {
  display: flex;
  gap: 5px;
  align-items: center;
}
.story {
  height: 235px;
  width: 170.8px;
  /* border-style: solid; */
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container:hover > .img {
  transform: scale(1.1);
  cursor: pointer;
}
.story:hover > .img {
  transform: scale(1.1);
  cursor: pointer;
}
.text {
  z-index: 1;
  color: white;
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 90%;
}
.i {
  display: flex;
  gap: 4px;
  align-items: center;
}

.bottom {
  position: relative;
}
.hide {
  /* border-style: solid; */
  font-size: 13px;
  height: 32px;
  overflow: hidden;
  transition: height 1s;
  margin-top: 30px;
}
.biden {
  font-size: 13px;
  height: 32px;
  /* overflow: hidden; */
  /* transition: height 1s; */
  /* margin-top: 30px; */
}
.biden:hover {
  cursor: pointer;
}
.zud {
  font-size: 13px;
  height: 32px;
}
.zud:hover {
  cursor: pointer;
}
.text:hover .hide {
  /* height: fit-content; */
  height: 70px;
  /* transition: 1s; */
  cursor: pointer;
}
.ontsloh {
  height: 2716px;
  width: 340px;
  border-style: solid;
  border-left: 1px solid #efefef;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.india {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.date {
  height: 29px;
  width: 735px;
  /* border-style: solid; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.leaf {
  font-weight: 700;
  font-size: 16px;
  color: #407cf2;
  align-items: center;
  display: flex;
  gap: 5px;
}
.unuudur {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.identical {
  height: 22px;
  width: 103.8px;
  /* border-style: solid; */
}
.differ {
  height: 27px;
  width: 27px;
  /* border-style: solid; */
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.sky {
  height: 7px;
  width: 103.8px;
  background-color: #407ce8;
  border-radius: 20px;
}
.march {
  color: #407ce8;
  font-size: 13px;
  display: flex;
  justify-content: center;
}
.identical:hover {
  cursor: pointer;
}
.leaf:hover {
  cursor: pointer;
}
.identicall {
  height: 22px;
  width: 103.8px;
  /* border-style: solid; */
}
.smoke {
  height: 7px;
  width: 103.8px;
  background-color: #efefef;
  border-radius: 20px;
}
.feb {
  color: #b7b6b6;
  font-size: 13px;
  display: flex;
  justify-content: center;
}
.identicall:hover {
  cursor: pointer;
}
.feb:hover {
  color: #407ce8;
}
.smoke:hover {
  background-color: #407ce8;
}
.differ:hover {
  background-color: #407ce8;
  color: white;
  cursor: pointer;
}
.tsaash {
  width: 690px;
  height: 65.4px;
  border-radius: 5px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat {
  display: flex;
  align-items: center;
  gap: 5px;
}
.akin {
  height: 150px;
  width: 690px;
  /* border-style: solid; */
  display: flex;
  justify-content: space-between;
}
.golomt {
  width: 290px;
  height: 1210px;
  /* border-style: solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ih {
  width: 100%;
  height: 1130px;
  /* border-style: solid;
  border-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gal {
  width: 340px;
  height: 1400px;
  /* border-style: solid; */
  background-color: #fefaf6;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.many {
  width: 210px;
  height: 150px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.many:hover > .major {
  transform: scale(1.1);
  cursor: pointer;
}
.major {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.major:hover ~ .unshih {
  width: 100%;
  height: 100%;
  /* border-style: solid;
  border-color: red; */
  position: absolute;
  z-index: 1;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: flex;
}
.CS {
  width: 450px;
  height: 145px;
  /* border-style: solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CS:hover {
  cursor: pointer;
}
.sport {
  font-weight: 700;
  font-family: Helvetica Neue, sans-serif;
  font-size: 19px;
}
.yvdal {
  color: #888;
  font-size: 14px;
}
.gpt {
  display: flex;
  gap: 20px;
}
.garchig {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  gap: 10px;
  align-items: center;
}
.side {
  height: 253px;
  width: 100%;
  border-style: solid;
}

.trader {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}
.buduun {
  position: relative;
  border-radius: 5px;
  width: 290px;
  height: 170px;
}
.buduun:hover > .def {
  background-color: rgb(0, 0, 0, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.temtseen {
  font-weight: 500;
  font-size: 15px;
}

.fire {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  gap: 7px;
  padding: 30px 50px;
}
.one {
  width: 270px;
  /* border-style: solid; */
  padding-bottom: 20px;
  border-bottom-style: dashed;
  border-bottom-color: #c8c6c3;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}
.onee {
  width: 270px;
  /* border-style: solid; */
  padding-bottom: 20px;
  border-bottom-style: dashed;

  display: flex;
  justify-content: space-between;
  height: fit-content;
}
.red {
  font-weight: 700;
  color: #e00034;
  font-size: 46px;
}

.irgen {
  width: 229px;
  height: fit-content;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.irgeni {
  width: 203px;
  height: fit-content;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tsag {
  display: flex;
  color: #888;
  gap: 15px;
  font-size: 12px;
  align-items: center;
}
.harrier {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fire {
  margin-right: 100px;
}
