.real-container {
  background-color: rgba(251, 251, 251, 255);
  width: 100%;
  height: 100%;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-2 {
  height: 280px;
  width: 1109px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 850px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(251, 251, 251, 255);
}
.first {
  width: 1109px;
  height: 88.91px;
  /* border-style: solid;
  border-color: black; */
  display: flex;
}
.right {
  width: 261.36px;
  height: 50px;
  /* border-style: solid;
    border-color: black; */
  display: flex;
  justify-content: flex-end;
}
.left {
  width: 742.59px;
  height: 38.91;
  /* border-style: solid; */

  display: flex;
  justify-content: space-between;
}
.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news {
  height: 50px;
  font-size: 12px;
  width: 87.12px;
}
.main {
  display: flex;
}

.main {
  height: 35px;
  width: 83px;
  /* border-style: solid; */
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
.english {
  font-weight: bold;
}
.second {
  height: 385px;
  width: 1109px;
  /* border-style: solid;
  border-radius: 15px; */
}
.law {
  width: 542.5px;
  height: 385px;
  /* border-style: solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  border-radius: 10px;
  background-image: linear-gradient(to right, lightgrey, 0.1%, white);
}
.uls-tur {
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  color: white;
  padding: 8px 15px;
  font-size: 12px;
  border-radius: 10px;
  width: fit-content;
  font-weight: bolder;
  transition: 1s;
}

.uls-tur:hover {
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.elect {
  font-size: 26px;
  font-weight: bold;
}
.dim {
  font-size: 13px;
  color: rgb(0, 0, 0, 0.5);
}
.bizzare {
  width: 502.5px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-style: solid; */
  border-color: red;
}
.hard {
  width: 542.5px;
  height: 385px;
  /* border-style: solid; */
  border-color: red;
}
.second {
  display: flex;
  justify-content: space-between;
}
.hard {
  position: relative;
  width: 542px;
  height: 385px;
  border-radius: 10px;
  /* border: solid 1px red; */
  overflow: hidden;
}
.hard:hover > .img {
  transform: scale(1.15);
  cursor: pointer;
}
.img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.img:hover ~ .text {
  width: 100%;
  height: 100%;
  /* border-style: solid;
  border-color: red; */
  position: absolute;
  z-index: 1;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: flex;
}

.police {
  height: 270px;
  width: 263.75px;
  /* border: solid; */
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.zuzu {
  height: 270px;
  width: 263px;
  /* border-style: solid; */
}
.third {
  display: flex;
  width: 1109px;
  justify-content: space-between;
}
.policee {
  height: 261px;
  width: 263.75px;
  /* border: solid; */
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.zai {
  display: flex;
  gap: 20px;
}
.curb {
  width: 263.75px;
  height: 175px;
  /* border-style: solid; */
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.curb:hover > .img {
  transform: scale(1.1);
  cursor: pointer;
}
.story {
  width: 170.8px;
  height: 235px;
  border-style: solid;
}
.story-container {
  display: flex;
  justify-content: space-between;
}
.back {
  color: #fff;
  padding: 2px 5px;
  background-color: #00b0f4;
  width: fit-content;
  border-radius: 3px;
  color: #fff;
  padding: 2px 3px;
  border-radius: 3px;
  font-size: 18px;
  height: fit-content;
}
.tom {
  font-size: 26px;
}
.blue {
  display: flex;
  gap: 5px;
  align-items: center;
}
.story {
  height: 235px;
  width: 170.8px;
  border-style: solid;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container:hover > .img {
  transform: scale(1.1);
  cursor: pointer;
}
.text {
  z-index: 1;
  color: white;
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 90%;
}
.i {
  display: flex;
  gap: 4px;
  align-items: center;
}

.bottom {
  position: relative;
}
.hide {
  border-style: solid;
  font-size: 13px;
  height: 32px;
  overflow: hidden;
  transition: height 1s;
  margin-top: 30px;
}
.text:hover .hide {
  /* height: fit-content; */
  height: 70px;
  /* transition: 1s; */
  cursor: pointer;
}
